@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-lamark-black: #0c0c0c;
  --color-lamark-white: #ffffff;
  --color-lamark-offwhite: #f4f4f0;
  --color-lamark-graphite: #2a2a2a;
  --color-lamark-gray: #737373;
  --color-lamark-red: #d91919;
  
  --font-display: "Syne", sans-serif;
  --font-body: "Manrope", sans-serif;
}

@layer base {
  body {
    @apply bg-lamark-offwhite text-lamark-black font-body antialiased selection:bg-lamark-red selection:text-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight uppercase;
  }
}

/* Hide scrollbar for clean horizontal scrolls */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

